body {
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .clock {
    text-align: center;
    color: yellow;
    font-family: Arial;
  }
  
  .date {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .time {
    font-size: 4em;
  }
  